@page
@model Task_Merge.Pages.AuthorizationPageModel
@{

}
<body class="authorisation">
	<form class="blured-container white-thin-border" id="form" action="" method="post">
		<h1 class="form-h1">Welcome</h1>

		<div class="free_space"></div>

		<input type="text" name="email" id="email-input" placeholder="Email">
		<input type="password" name="password" id="password-input" placeholder="Password">

		<div class="free_space"></div>

		<button type="submit">Login</button>
		<a href="RegistrationPage">Sign Up</a>
	</form>
</body>